<div data-scope-path="tests/index">
  <div class =tests-name>
    <div class= "test" > おはよう  </div>
    <p><%= link_to "ツイートへ", tweets_index_path %></p>
    <h2>切り替え</h2>
    <h3>本当？</h3>
  </div>
</div>
